<br />
<br />
<br />
<h1 style="text-align: center;">Code of Conduct</h1>

<p style="text-align: center; padding-left: 10%; padding-right: 10%;">
    <b>COLORADO FESTIVAL OF HORROR 
        <br />
        (COFOH)
        <br />
        CODE OF CONDUCT & COVID GUIDELINES</b>
        <br />
        <br />
    
    <b>Covid Guidelines</b>
    <br />
     <br />
    Your health and safety are important to us. Masks are not required but may be worn at your discretion. This guideline is subject to change, based on current state and county mandates. 
    <br />
     <br />
    <b>Harassment Policy</b>
    <br />
     <br />
    Colorado Festival of Horror is a safe space, and we value your attendance. This means we expect it to be a safe environment for fans from any ethnicity, creed, religious belief, political standing, gender identity and expression, sexual identity, sexual orientation, fandom, etc. Harassment is defined by the victim. “No” means no. “Stop” means stop. “Go away” means go away. Colorado Festival of Horror has a ZERO TOLERANCE POLICY for harassment of any kind, and everyone will be held to the same standards and disciplinary action.
     <br />
     <br />
    Harassment is any behavior that seriously annoys or alarms another person. This includes but is not limited to offensive verbal comments related to age, race, religion, ethnicity, disability, body size, citizenship, pregnancy.  Also included is stalking, verbal harassment, sexual harassment, unwanted physical contact, physical violence, deliberate intimidation, sustained disruption of talks or other events, and inappropriate photography or recording.
    <br />
     <br />
    Participants asked to stop any harassing behavior are expected to comply immediately.  If you are being harassed, notice that someone is being harassed, or have any other concerns, please contact a volunteer or staff member immediately.  They can be identified by their badges and t-shirts.  If you believe your safety or the safety of others is in jeopardy or if it is an emergency beyond the scope of the convention staff, please contact the Denver Police Department at 911.  If it seems safe to do so, record the incident on your phone or other personal device.
    <br />
     <br />
    If a participant engages in harassing behavior, staff or security personnel may take any action they deem appropriate, from warning the offender up to and including expulsion from the convention with no refund.
    <br />
     <br />
    <b>No Video or Audio Recording of Panels for Public Display</b>
    <br />
     <br />
    Cameras and recording devices are permitted in program and panel rooms but any recording of panels or programs is allowed only for personal use and not for broadcast in any form.  Recording must not interfere with other fans' enjoyment of the presentation. No video or audio recording is allowed of the footage on the screens during movie or television panels.
    <br />
     <br /> 
    <b>Consent to Photography</b>
    <br />
     <br />
    Any photographs or videos of attendees taken by COFOH staff in an official capacity may be used or published by COFOH without further consent from the attendees being recorded.
     
    <br />
     <br />
     <b>Costume, weapons, and props policy</b>
     <br />
     <br />
     Any indecent exposure (public exposure of genitalia, buttocks or breasts) is not permitted. Should you choose to cosplay, you should not be falling out of your costume, and it should not be falling apart around you.  If you have a bulky or large costume, please be aware of your surroundings. Try not to bump other attendees, block walkways or access, or cause a disruption. You are responsible for your own costume and should respect those around you.
     <br />
     <br />
    Remember also: <b>Cosplay is Not Consent.</b>  Keep your hands to yourself. If you would like to take a picture with or of another COFOH fan, always ask first and respect that person's right to say no.  When at COFOH, be respectful, be nice, be cool and be kind to each other.
    <br />
     <br />

      Absolutely no functioning props or weapons are allowed at COFOH. Simulated or costume weapons are allowed as a part of your costume, subject to prior approval by security and compliance with the following:
      <br />
      ●	All costume props and weapons must be inspected at COFOH registration.
      <br />
      ●	All props and weapons must conform to state and federal law.
      <br />
      ●	Projectile props and weapons must be rendered inoperable.
      <br />
      ●	Costume swords must be tied to your costume in such a way that they can’t be drawn.
      <br />
      ●	Costumes featuring stilts must be approved at COFOH registration.
      <br />
      ●	At certain times, due to crowds and safety issues, people in oversized costumes may be asked to leave a room.
      <br />
      <br />
      <b>ONLY police officers may carry firearms within the Convention Area. All other persons are strictly prohibited regardless of license or status.</b>
      <br />
      <br />
      <b>Alcoholic beverages and food</b>
      <br />
      <br />
      Alcoholic beverages and food purchased outside the hotel are not to be consumed in public hotel space or inside the COFOH event space.  They are ONLY for private consumption in your hotel rooms. The hotel has a wonderful restaurant and bar, please purchase your food and beverages from them while in public areas.
      <br />
      <br />
      <b>Smoking policy</b>
      <br />
      <br />
      No smoking is allowed inside at any COFOH event at any time in accordance with the hotel rules. This includes cigarettes, pipes, cigars, e-cigarettes and any vaping product or device as well as any marijuana products. You are welcome to step outside the building to smoke in designated areas only, but please be considerate of others when you do. This policy is in place not only for the comfort of attendees but also to comply with city of Denver regulations.  Noncompliance may result in ejection from the convention.
      <br />
      <br />
    <b>Service animals</b>
    <br />
      <br />
    The hotel welcomes service animals as per the ADA rules.  Service animals       perform valuable work or tasks and are trained to provide help directly related to a person’s disability.  Animals whose sole function is to provide comfort or emotional support do not qualify as service animals and are therefore not permitted at this hotel.
    <br />
      <br />
     <b>Liability</b>
    
     <br />
     <br />
      COFOH, its personnel, and its affiliates are not responsible for any damage, theft, injury, loss, or any repercussions from the aforementioned.  Attendees of COFOH are responsible for their own actions, belongings, financial expenses, health, and well-being. Staff members are available to assist in any situation. However, any civil or medical emergencies that may occur must be handled directly by the appropriate authorities.
      <br />
      <br />
      <b>Final Word</b>
      <br />
      <br />
      COFOH reserves the right to remove any attendee from the convention grounds for any reason deemed unsafe or harmful to others or for repeated failure to follow the COFOH Code of Conduct. By following these rules, you can help make the Colorado Festival of Horror amazing for everyone!
      <br />
      <br />
    COFOH reserves the right to change or modify any policy or rule at any time and without notice.
    <br />
    <br />
    Have a question? Drop us a line at <a href="mailto:info@cofestivalofhorror.com" class="text-style"
    >info@cofestivalofhorror.com</a
  > or contact us via social media.
    
    
    </p>
