<div style="text-align: center">
  <b style="font-size: 25px">Sponsorship Opportunities</b>
  <br />
  <br />

  Get your brand in the hands of devoted Horror fans in Colorado and beyond with
  unique sponsor and promotional opportunities at Colorado Festival of Horror
  2022: Funhouse!
  <br />
  <br />

  Please email
  <a href="mailto:sponsor@cofestivalofhorror.com" class="text-style"
    >sponsor@cofestivalofhorror.com</a
  >

  <div class="row">
    <div class="column">
      <img src="assets/AllLogos/S5280 logo.jpg" />
      <img src="assets/AllLogos/SAlien Donut Films.jpg" />
      
      <img
        src="assets/AllLogos/SOutworld Brewing Full Logo Gold - Transparent.jpg"
      />
      <img src="assets/AllLogos/SRMPLogo.jpg" />
      <img src="assets/AllLogos/STime Warp Comics DINO-copy-0011.jpg" />
      <img src="assets/AllLogos/STITCtransparency.jpg" />
      <img src="assets/AllLogos/SSiouxsiequeues_New_Logo.jpg" />
      <img src="assets/AllLogos/STheWizardsChestVectorLogoColor.jpg" />
      <img src="assets/AllLogos/My project.jpg" />

      <img src="assets/AllLogos/amc resize.jpg" />
      <img src="assets/AllLogos/dink resize.png" />
      <img src="assets/AllLogos/mutiny unti cafe resize.jpg" />
      <img src="assets/AllLogos/p8.jpg" />
      <img src="assets/AllLogos/tenacious toys.png" />
      <img src="assets/AllLogos/3Left.jpg" />
      <img src="assets/FansetsResize.jpg" />
      <img src="assets/AllLogos/ShudderResize.jpg" />
      <img src="assets/AllLogos/VinegarSyndrome_logo_black_test.jpg" />
      <img src="assets/AllLogos/GoldenResize.jpg" />
      <img src="assets/AllLogos/DarksideResize.jpg" />
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  If you are interested in sponsorship.
  <br />
  <br />
  <b style="font-size: 25px">COFOH 2022 SPONSORSHIP LEVELS</b>
  <br />
  <br />
  <div class="columns">
    <ul class="price">
      <li class="header">COPPER (Mummy)</li>
      <li class="grey">$ 200</li>
      <li>Logo on our website and COFOH program</li>
      <li>Social media shout-outs</li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header">BRONZE (Wolfman)</li>
      <li class="grey">$ 500</li>
      <li>18” x 6’ table (schoolie) at show to promote product</li>
      <li>1 complimentary weekend pass to COFOH</li>
      <li>
        Logo on printed promotions such as flyers and COFOH weekend banners.
      </li>
      <li>Logo on our website and COFOH program</li>
      <li>Social media shout-outs</li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header">SILVER (Dracula)</li>
      <li class="grey">$ 1,000</li>
      <li>3’ x 6’ table to promote product</li>
      <li>2 complimentary weekend passes to COFOH</li>
      <li>
        Ad in COFOH program (size to be determined after program is designed)
      </li>
      <li>Logo featured on our volunteer COFOH T-shirts</li>
      <li>
        Sponsor may provide promotional materials to be handed out with
        registration package
      </li>
      <li>
        Logo on printed promotions such as flyers and COFOH weekend banners
      </li>
      <li>Logo on our website and COFOH program</li>
      <li>Social media shout-outs</li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header">GOLD (Frankenstein)</li>
      <li class="grey">$ 1,500</li>
      <li>Two 3’ x 6’ tables to promote product</li>
      <li>3 complimentary weekend passes to COFOH</li>
      <li>
        Ad in COFOH program (size to be determined after program is designed)
      </li>
      <li>Logo featured on our volunteer COFOH T-shirts</li>
      <li>
        Sponsor may display company banner at our show (stand-up type only,
        provided by sponsor)
      </li>
      <li>
        Sponsor may provide promo materials to be handed out with registration
        materials
      </li>
      <li>
        Logo printed on promotions such as flyers and COFOH weekend banners
      </li>
      <li>Logo on our website and COFOH program</li>
      <li>Social media shout-outs</li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header">PLATINUM (Creature from the Black Lagoon)</li>
      <li class="grey">$ 3,000</li>
      <li>Two 3’ x 6’ table to promote product</li>
      <li>4 complimentary weekend passes to COFOH</li>
      <li>
        Ad in COFOH program (size to be determined after program is designed)
      </li>
      <li>Logo featured on volunteer COFOH T-shirts</li>
      <li>
        Sponsor may display company banner at our show (stand-up type only,
        provided by sponsor)
      </li>
      <li>
        Sponsor may provide promo materials to be handed out with registration
        materials
      </li>
      <li>
        Logo printed on promotions such as flyers and COFOH weekend banners
      </li>
      <li>Logo on our website and COFOH program</li>
      <li>Social media shout-outs</li>
      <li>Opportunity to announce special guest at their panel</li>
    </ul>
  </div>
  <div class="columns">
    <ul class="price">
      <li class="header">SKY’S THE LIMIT (Alien Queen)</li>
      <li class="grey">$ 5,000</li>
      <li>Everything listed above PLUS:</li>
      <li>5 complimentary weekend passes to COFOH</li>
      <li>Complimentary autograph and photo-op</li>
    </ul>
  </div>
</div>
