<img
  src="assets/rosie-sun-1L71sPT5XKc-unsplash.jpg"
  class="photo-container"
  style="opacity: 40%"
/>
<div style="background-color: #283446">
  <div class="centered">
    <h1
      style="
        color: #ecebdb;
        font-size: 50px;
        text-align: center;
        font-family: bloodcrow;
      "
    >
      COFOH Entertainment Presents:
      <br />
      <br />

      Colorado Festival of Horror: 
      
      <br />
      <br />
      Slasher Hotel, September 15-17, 2023 
      <br />
    </h1>
  </div>

  <br />
  <br />
  <br />
  <h1 style="text-align: center">Here's what happened at our 2022 event!</h1>

  <div style="text-align: center" class="video-container">
    <iframe
      width="480"
      height="270"
      src="https://www.youtube.com/embed/R8h4DdU97uM"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  
    
    
  <br />
  <br />
  <br />
  <br />
  

  <p style="font-size: 50px; text-align: center">Save the Date!</p>

  <br />
  <br />

  <div
    class="paragraph-container"
    style="font-size: 19px; text-align: center; justify-content: center"
  >
    <p>
      Save the Dates!  Sept 15-17, 2023!
 
Hello and welcome horror fans!  Colorado Festival of Horror (COFOH) returns September 15-17, 2023, and will feature all things horror: celebrity guests, artists, writers, panels, vendors, horror films, horror art show, cosplay & tattoo contests, horror trivia and so much more delicious creepiness!
    </p>
    <br />
    <br />
    <br />
    <br />
    
  </div>
  <div>
    <h1 style="text-align: center;">Denver Marriott South at Park Meadows
      <br />
      10345 Park Meadows Drive
      <br />
      Lone Tree, CO  80124</h1>
  </div>

 <div style="text-align: center;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2079.7884527657584!2d-104.87151703651833!3d39.541265391072606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c8512a073d221%3A0x2609808fcb2fcdce!2s10345%20Park%20Meadows%20Dr%2C%20Lone%20Tree%2C%20CO%2080124!5e0!3m2!1sen!2sus!4v1675367746245!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>

  <br />
 
  <!-- <div style="text-align: center;">
    <img src="assets/AllLogos/aug30Update/Screen Shot 2022-08-31 at 12.48.50 PM.png" alt="Map" width="90%" height="65%">
    <figcaption>Embassy Suites at Denver Central Park, 4444 N. Havana Street, Denver, Colorado</figcaption>
  </div> -->
  
  
  <br />
  <br />
  <br />

  
  <div style="text-align:center; ">
    <h1 style="font-size: 45px;">Get your tickets here!</h1> 
  </div>
  

  <div style="text-align: center">
    
    <button mat-button style="background-color: #e3ac34; text-align: center">
      <a
        href="https://www.eventbrite.com/e/colorado-festival-of-horror-cofoh-2023-slasher-hotel-tickets-566943953627"
        target="_blank"
        style="size: 20px; border-radius: 10px; color: white; padding-top: 50px"
        >Get Tickets!</a
      >
    </button>
  </div>

  <!-- </div> -->
  

  
    

  <div
    style="text-align: center; color: #ecebdb"
    class="guest-announce-container"
  >
    <h1 style="font-size: 45px; padding-top: 60px">
      Here are the guests that are coming to COFOH!
    </h1>
  </div>

  
    <div class="guest-container">
      <mat-card class="example-card" style="background-color: #ecebdb">
        <!-- <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header> -->
        <img mat-card-image src="assets/GuestGraphics2023/Michelle Bauer Announcement Graphic v2 FINAL.jpg" alt="Lynn Lowry" />
        <mat-card-content>
          <p style="color: #283446">
            The Colorado Festival of Horror (COFOH) 2023: Slasher Hotel annual event brings out
            all the slashers, ghouls and evil monsters on September 15-17. COFOH is the original,
            locally-owned, and fan-run convention, an intimate fan experience, creative incubator,
            and convention for all things horror. Our first Special Guest announcement is 1980s
            Scream Queen Michelle Bauer (“Nightmare Sisters”, “Sorority Babes in the Slimeball
            Bowl-O-Rama”) in her FIRST-EVER Colorado convention appearance!
            <br />
            <br />
            Michelle Bauer was born and raised in Simi Valley, California. After an audition for
            director Fred Olen Ray, she began her horror feature film career with “The Tomb”, it
            would be the first of many. Michelle became one of the most prominent scream queens
            of the 1980s slasher films. She has been featured in “Evil Toons”, “Sorority Babes in
            the Slimeball Bowl-O-Rama”, “Nightmare Sisters”, “Hollywood Chainsaw Hookers” and
            many more. She has over 160 IMDb credits. Her life and career are one of the main
            subjects of the 2011 documentary “Screaming in High Heels: The Rise and Fall of the
            Scream Queen Era”. She returned for the 2020 follow-up “Screaming in High Heels:
            The Reunion” which reunited her with fellow actors and subjects Brinke Stevens and
            Linnea Quigley. Colorado Festival of Horror is excited to bring Michelle Bauer to
            Denver!
            <br />
            <br />
            COFOH will host a variety of thrilling experiences and events throughout the weekend.
            The Death Dealers Room holds a menagerie of artists, authors, vendors, and horror
            comic book creators. Delightfully fiendish horror actors sell autographs, selfies, and
            merchandise, and participate in Q&amp;As and film screenings. Wickedly good panels,
            workshops, and interactive audience events are all weekend long. This Dead Man’s
            Party is where it’s at!
          </p>
        </mat-card-content>
      </mat-card>

      <div class="guest-announce-container">
        <div style="background-color: #ecebdb" class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="" />
          </div>
          <div class="card-content">
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <!-- <p>
                    <a
                        href="https://www.facebook.com/cofohorror/"
                        target="_blank"
                        rel="noopener noreferrer"
                        style="color: #c4dd69; font-size: 25px"
                        >Check us out on Facebook!</a
                    >
                </p>
    
                <h4
                    style="
                        text-align: center;
                        color: #ecebdb;
                        padding-right: 400px;
                        padding-left: 400px;
                    "
                >
                    Greetings to our fellow undead family and friends! Join us
                    September 9-11, 2022, for Year 2 we’re calling “Colorado
                    Festival of Horror: Funhouse”! Early Bird Tickets will be
                    available soon!
                </h4>
    
                <h4
                    style="
                        text-align: center;
                        color: #ecebdb;
                        padding-right: 400px;
                        padding-left: 400px;
                    "
                >
                    Warning: DO NOT buy second hand tickets; they are only available
                    for purchase here on our website.
                    <br />
                    <br />
                    In the meantime, you can continue to enjoy our online series of
                    interviews called “COFOH: Live & Undead,” hosted by our resident
                    weirdo, Daniel Crosier. Also check out our expanded online
                    programming series “COFOH Presents,” featuring panel
                    discussions, script reads, demonstrations, workshops, and more.
                    Feel free to reach out to us and connect with us on our social
                    media platforms and our website:
                </h4> -->
  </div>

